.birds-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .birds-container {
    grid-template-columns: 1fr;
  }
}