
.birds-container {
  display:flex;
  justify-content: center;
  background-image: url('./tropical2.png');
  background-color: #76a941;
  border-spacing: 5px;
  padding-top: .5rem;
  padding-bottom: 10rem;
  width: 100%;
}