.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  border: 3px solid #458df6;
  background-color: rgba(3, 93, 18, 0.518);
  color: black;
  box-shadow: 3px 5px 5px #888888;
  width: 500px !important;
  margin: 1.5rem;
  padding: 1.25rem;
  border-radius: .4em;
}

.card h3.location {
  margin-top: 0;
  font-size: 22px;
  text-transform: capitalize;
}

.card p.country {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.card p.recorder {
  font-size: 14px;
  margin-top: 0.5rem;
}

.card audio.audio {
  width: 100%;
  margin-top: 1rem;
}

.card audio.audio a {
  font-size: 14px;
}