.about-layout {
  display:flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-bird-image {
  height: 60vh;
  width:40vw;
  border-radius: .5rem;
}
